*{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}



.container{
    width:500px;
    height: 500px;
    background-color: aqua;
    color:black;
    margin:auto auto;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}